body {
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#weather{
    background-color: rgba(0, 0, 0, .30);
    color: rgba(255, 255, 255, 1);
    position: relative;

}